<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <%- include('../layout/header') %>

    <h1 style="color: white;">SEARCH RESULTS</h1>
    <section><div class="book">
        <img src=<%= book.img %> alt="">
        <h4>Title: <%= book.title %></h2>
        <h5>Author: <%= book.author %></h5>
        <p>Description: <%= book.description %></p>



    </div></section>
    
<% }) %>

</body>
</html>